<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Dashboard Patient</title>
</head>

<body>

<h1>🏥 Tableau de bord Patient</h1>

<hr>

<h3>Bienvenue dans votre espace</h3>

<br>

<a href="/patient/rendez-vous">
    <button>Prendre rendez-vous</button>
</a>

<br><br>

<a href="/patient/historique">
    <button>Historique des rendez-vous</button>
</a>

<br><br>

<a href="/patient/logout">
    <button>Déconnexion</button>
</a>


</body>
</html>